---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<h2>[SOLVED!]</h2>

		<p>Only a demo to demonstrate Astro + OpenProps + PostCSS JIT issues.</p>

		<p>the h1 headline should be red!</p>
	</body>
</html>

<style global>
	h1 {
		color: var(--red-7);
	}
</style>
